<?xml version="0.0" ?>
<!--
  ~ Copyright 2020 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<robot name="manipulated_object">
    <link name="handleBody">
        <inertial>
            <origin rpy="0 0 0" xyz="0.075 0.0 0.02"/>
            <mass value="0.5"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.075 0.0 0.02"/>
            <geometry>
                <box size="0.05 0.15 0.04"/>
            </geometry>
            <material name="yellow">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.075 0.0 0.02"/>
            <geometry>
                <box size="0.05 0.15 0.04"/>
            </geometry>
        </collision>
    </link>
    <link name="handleLeft">
        <inertial>
            <origin rpy="0 0 0" xyz="0.05 0.09 0.02"/>
            <mass value="0.5"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.05 0.09 0.02"/>
            <geometry>
                <box size="0.1 0.03 0.04"/>
            </geometry>
            <material name="yellow">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.05 0.09 0.02"/>
            <geometry>
                <box size="0.1 0.03 0.04"/>
            </geometry>
        </collision>
    </link>
    <link name="handleRight">
        <inertial>
            <origin rpy="0 0 0" xyz="0.05 -0.09 0.02"/>
            <mass value="0.5"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.05 -0.09 0.02"/>
            <geometry>
                <box size="0.1 0.03 0.04"/>
            </geometry>
            <material name="yellow">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.05 -0.09 0.02"/>
            <geometry>
                <box size="0.1 0.03 0.04"/>
            </geometry>
        </collision>
    </link>
    <joint name="bodyLeft" type="fixed">
        <parent link="handleBody"/>
        <child link="handleLeft"/>
        <origin xyz="0.0 0.0 0.0"/>
    </joint>
    <joint name="bodyRight" type="fixed">
        <parent link="handleBody"/>
        <child link="handleRight"/>
        <origin xyz="0.0 0.0 0.0"/>
    </joint>
</robot>

